packages
.nuget/NuGet.exe
DataLayer/bin
DataLayer/obj
DomainClasses/bin
DomainClasses/obj
GoldenCityShop/bin
GoldenCityShop/obj
IocConfig/bin
IocConfig/obj
ServiceLayer/bin
ServiceLayer/obj
Utilities/bin
Utilities/obj
ViewModel/bin
ViewModel/obj
GoldenCityShop/Uploads
GoldenCityShop/App_Data/ErrorsLog
